/*
 * Open Course Factory - Front
 * Copyright (C) 2023-2024 Solution Libre
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * Copyright (c) - All Rights Reserved.
 * 
 * See the LICENSE file for more information.
 */ 

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
}

.left-col {
  width: 230px;
  height: 100%;
  background-color: #3b3e47;
  color: #e7e7e7;
}

#app {
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.inner-wrapper {
  width: 100%;
  background-color: #f7f7f7;
}