html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
}

.left-col {
  width: 230px;
  height: 100%;
  background-color: #3b3e47;
  color: #e7e7e7;
}

#app {
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.inner-wrapper {
  width: 100%;
  background-color: #f7f7f7;
}